<html>
<head>
	<title>about triage@Re</title>
	
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	   <link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/ac0527b785.js"></script>
<style>
body{
  background-image:url("https://images.unsplash.com/photo-1504439468489-c8920d796a29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  background-size:cover;
  opacity:0.9;
}
</style>

</head>
<body>
  <nav class="navbar">
    <a class="navbar-brand" href="#">
    <img src="https://kallows.com/wp-content/uploads/2019/02/ramaiah_hospital_logo.jpg" width="170" height="70" class="d-inline-block align-top" style="margin-left:10%;" alt="">
    </a>
    <a class="navbar-brand" style="color:white; background:black; font-size:25px;" id="main" class="nav-item active"href="/home"><i class="fas fa-chevron-circle-left"></i>  Go Back</a>
  </nav>
  
<div style="font-family:Julis Sans One;"class="jumbotron container">

<h1>Abstract</h1>

<h4>Triage is the process of determining the severity of a patient's condition.

Patients with the most severe emergencies receive immediate treatment. That is

why some patients may receive medical care before you, even if they arrived at

the ED(Emergency Department) after you. In a general hospital, when you

arrive at the ED, emergency technicians determine the reason for your visit. A registered nurse will take your medical history and perform a brief examination

of your symptoms. The triage registered nurse might assign you a priority level based on your medical history and current condition according to the following scale: Level 1 - Resuscitation (immediate life-saving intervention): Level 2 -

Emergency; Level 3 - Urgent: Level 4 - Semi-urgent; Level 5 - Non-urgent.

One of the fundamental duties of the department of emergency in a hospital is to

triage the patients arriving at the ED. Ramaiah Memorial Hospital already uses

a system known as Stasis to monitor the vitals and assist the triaging process by gathering physiological parameters from the system. However, diagnosis by the

doctor is an essential part of this process and this where we aim to aid the

process and further promote the digitalisation of technology by providing a

system to track the diagnosis and treatment provided to the patient along with

the maintenance of all this information in a secure database with controlled and

discrete access.</h4>

</div>

</body>
</html>
