<html>
<head>
	<title>Guide triage@Re</title>
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	   <link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/ac0527b785.js"></script>
    <style>
    body{
        background-image:url("https://images.unsplash.com/photo-1561328165-f0b762a9508e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1122&q=80");
        background-size: cover;
    }
    </style>
</head>
<body>
  <nav class="navbar">
    <a class="navbar-brand" href="#">
    <img src="https://kallows.com/wp-content/uploads/2019/02/ramaiah_hospital_logo.jpg" width="170" height="70" class="d-inline-block align-top" style="margin-left:10%;" alt="">
    </a>
      <a class="navbar-brand" style="color:white; background:black; font-size:25px;" id="main" class="nav-item active"href="/home"><i class="fas fa-chevron-circle-left"></i>  Go Back</a>
  </nav>
  
<div style="font-family:Julis Sans One;"class="jumbotron container">
    <h1>Guide for TRIAGE Assistance Website  <i class="fas fa-ambulance"></i></h1>
    <p><h4> <a href="https://drive.google.com/file/d/1ShYiZRWLGBy2XAMIJFj2Efzthi0Z3cDO/view?usp=drivesdk">
        Click Here
    </a> to open the Final Report PDF file</h4></p>
    </div>
  </body>
</html>
