<html>
<head>
	<title>Ramaiah Emergency </title>
	<script src="https://kit.fontawesome.com/ac0527b785.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .navbar{
    min-height:70px;
    font-size:18px;
  }
</style>
</head>


<body>

<nav class="navbar navbar-light" style="background-color: #a1e8ff;">
    <a class="navbar-brand" href="#">
    <img src="https://kallows.com/wp-content/uploads/2019/02/ramaiah_hospital_logo.jpg" width="150" height="50" class="d-inline-block align-top" style="margin-left:10%; "alt="">
    </a>
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a  class="navbar-brand" style="margin-left:5%; color:black; font-family:Josefin Sans;" href="#"><strong>Emergency</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
    		<li style="color:black;"class="active"><a style="color:black;" href="/"><strong>Home</strong></a></li>
      		<li><a style="color:black;" href="/home/about"><strong>About</strong></a></li>
      		<li><a style="color:black;" href="/home/contact"><strong>Contact</strong></a></li>
	   </ul>
     
      <ul class="nav navbar-nav navbar-right" >
        <li><a style="color:black;" href="#"></a></li>
        <li><a style="color:black;" href="mainlogin"><i class="fas fa-user"></i><strong> Log In</strong></a></li>
       	
</li>			 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<div id="a" class="container" > 
		<div class="row">
			<div class="col-lg-12 col-md-9 col-sm-3">
				<div id="content">
				<h1  style="padding-right:7%; color:white;">Ramaiah Emergency </h1>
				<h3 >Day or Night we do it Right</h3>
				<hr>
				<button class="btn btn-default btn-lg" style="margin-right:8%;"><i class="fas fa-ambulance"></i> <a href="/home/getstarted">Get Started</a></button>
			</div>
			</div>
		</div>
	</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
